<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="/assets/static/css/main.<%= cssHash %>.css">
    <!-- ADD EXTERNAL STYLES AND JS HERE -->
    <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.0.0/polaris.min.css" />
    <meta name="theme-color" content="#000000">
    <title><%= title %></title>
  </head>
  <body>
    <!-- <script src="https://cdn.shopify.com/s/assets/external/app.js"></script> -->

    <script>
      window.apiKey = "<%= apiKey %>"
      window.shopOrigin = "https://<%= shop %>"
    </script>

    <div id="root"></div>
    <script type="text/javascript" src="/assets/static/js/main.<%= jsHash %>.js"></script>
  </body>
</html>
